@model List<Prueba_2.Models.ViewModels.ListTablaViewModel>
@{
    ViewBag.Title = "prueba2";
}

<h2>@ViewBag.Title</h2>

@foreach (var resort in Model)
{
    <link rel="stylesheet" href="../CSS/Format.css">
    <div class="card">
        <img class="card-img-top" src="@resort.foto" alt="@resort.Nombre">
        <div class="card-body">
            <h5 class="card-title">@resort.Nombre</h5>
            <p class="card-text">@resort.Descripcion</p>
            <p class="card-text"><small class="text-muted">Precio: $ @resort.Precio</small></p>
        </div>
    </div>
}
